img {
  height: 300px;
  object-fit: contain;
  margin-top: 20px;
 }

#subtitulo {
  text-align: center;
  justify-content: center;
  color: #0d2c49;
  font-weight: bold;
  margin-top: -20px;
  margin-bottom: 25px;
}
.centrado {
  text-align: center;
  justify-content: center;
  color: #0d2c49;
  font-weight: bold;
  margin-bottom: 20px;
}
#inicio {
  color: #0d2c49;
  font-weight: 600;
}
.azul {
  margin-top: 15px;
  background-color: white;
  color: #0d2c49;
  align-items: center;
  border-color: #0d2c49;
}
.azul:hover {
  background-color: #0d2c49;
  color: white;
  align-items: center;
  border-color: #0d2c49;
}
#link {
  color: #0d2c49;
}
.card {
  margin-top: 40px;
  border-radius: 20px;
}
.fondo {
  background-image: url(/src/img/fondo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
#marginado {
padding-top: 20px;    
margin-bottom: -25px;
}
#img_sm {
      height: 60px;
      object-fit: contain;
      margin-top: 5px;
}
#linkRegistro {
  border-color: transparent;
  background-color: transparent;
  margin: -10px;
  padding: -10px;
}
#linkRegistro:hover {
  border-color: transparent;
  background-color: transparent;
  color: #0d2c49;

}
#margin_top {
  margin-top: 10px;
}
.margin_bot {
  margin-bottom: 10px;
}
.margin_transaccion {
  margin-top: 15px;
  margin-bottom: -10px;
}

.no_margin {
  margin-top: -15px;
}

.margin_list {
  margin-top: -5px;
  margin-bottom: -5px;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 25px;
  background-color: #0d2c49;
  text-align: center;
  border-top: 2px solid #006496
}
h6 {
  color: white;
  font-size: 11px;
  padding-top: 4px;
}

td {
  text-align: center;
}
th {
  text-align: center;
}

.gigante {
  font-size: 80px;
  font-weight: bold;
}
.mediano {
  font-size: 22px;
  font-weight: bold;
  border-radius: 12px;
}
#chico {
  height: 40px;
  margin-top: -2px;
}

.btn:disabled {
  opacity: 1;
}